@font-face {
    font-family: Gotham SSm;
    /* src: url('/fonts/Gotham-SSm/GothamSSm-Black.otf'); */
    src: url('../fonts/Gotham-SSm/GothamSSm-Light.otf');
    /* src: url('/fonts/Gotham-SSm/GothamSSm-BlackItalic.otf');
    src: url('/fonts/Gotham-SSm/GothamSSm-Bold.otf');
    src: url('/fonts/Gotham-SSm/GothamSSm-BoldItalic.otf'); 
    src: url('fonts/Gotham-SSm/GothamSSm-Book.otf'); */
    /* src: url('/fonts/Gotham-SSm/GothamSSm-BookItalic.otf');
    src: url('/fonts/Gotham-SSm/GothamSSm-LightItalic.otf');
    src: url('/fonts/Gotham-SSm/GothamSSm-Medium.otf');
    src: url('/fonts/Gotham-SSm/GothamSSm-MediumItalic.otf'); */
}

/* -- For the Background-- */

html {
    --vwidth: 100vw;
    --vheight: calc(16/9*var(--vwidth));
    font-size: calc(1/1080*var(--vwidth));
}

@media (min-aspect-ratio: 9/16) {
    html {
        --vheight: 100vh;
        --vwidth: calc(9/16*var(--vheight));
        font-size: calc(1/1920*var(--vheight));
    }
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: scale(0.5); */
    /* overflow: hidden; */
}

.window {
    position: relative;
    height: 1920rem;
    width: 1080rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center;
    transform: scale(1);
}

.movable_parent {
    position: absolute;
    top: 0rem;
    left: 0rem;
    --width: 1080rem;
    height: 1920rem;
    width: calc(var(--width)*3);
    display: flex;
    flex-direction: row;
    transition: left 0.5s linear;
}

.background {
    position: relative;
    width: 1080rem;
    height: 1920rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.background .svgBG, .background2 .svgBG {
    position: absolute;
    width: 100%;
    height: 100%;
}
.background2 .svgBG{
    top: -8.5rem;
}
.background2 {
    position: relative;
    width: 1080rem;
    height: 1920rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

/* For the cross symbol */

.cross_symbol_container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 108rem;
    height: 108rem;
    left: 48rem;
    top: 102rem;
    opacity: 0.5;
    z-index: 1;
    /* background: grey; */
}

.cross_symbol_container .cross_oval {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    /* background-color: blue; */
}

.cross_oval .cross_hand {
    position: absolute;
    width: 54rem;
    height: 6rem;
    top: 50%;
    left: 50%;
    background-color: #9C88D8;
}

.cross_oval #hand1 {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.cross_oval #hand2 {
    transform: translate(-50%, -50%) rotate(45deg);
}

.navigation_bar {
    position: absolute;
    width: 55%;
    height: 5.6%;
    top: 5.3%;
    border-radius: 200rem;
    background: rgb(109, 42, 244);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 36rem;
    text-align: center;
    font-family: Gotham SSm;
    font-weight: 325;
    line-height: 144.2%;
    cursor: pointer;
    color: white;
    z-index: 1;
}

.observation_bar {
    height: 100%;
    width: 50%;
    border-radius: 200rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question_bar {
    height: 100%;
    width: 50%;
    border-radius: 200rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_selected {
    background: white;
    color: rgb(54, 18, 175);
    box-shadow: 4rem 2rem 10rem 2rem rgba(0, 0, 0, 0.284);
    /*The direction needs to be changed by putting a 'minus' sign befer '4rem'*/
}

.nav_selected2 {
    background: white;
    color: rgb(54, 18, 175);
    box-shadow: -4rem 2rem 10rem 2rem rgba(0, 0, 0, 0.284);
}

.context_button {
    position: absolute;
    left: 900rem;
    top: 117rem;
    height: 108rem;
    width: 108rem;
    z-index: 2;
}

.context_button img {
    width: 100%;
    height: 100%;
}

/* For the instruction area */

.instructino_area {
    position: absolute;
    width: 984rem;
    height: 240rem;
    top: 288rem;
    text-align: justify;
}

.instructino_area p {
    margin: 0;
    font-family: Gotham SSm;
    font-style: normal;
    font-weight: 300;
    font-size: 39rem;
    line-height: 60rem;
    /* or 154% */
    color: #FFFDFD;
}

/* For Visual area */

.visual_area {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 20rem;
    width: 984rem;
    height: 520rem;
    top: 564rem;
    background-color: #000000AB;
    overflow: hidden;
}

/* All styles related to the table */

.table_div {
    width: 100%;
    height: 100%;
}

.table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    color: #fff;
    font-size: 36rem;
    font-family: Gotham SSm;
    font-weight: heavier;
    text-align: center;
}

.check {
    position: absolute;
    left: 64.8%;
    width: 200rem;
    height: 500rem;
    background-color: transparent;
}

.check #first_check {
    width: 70rem;
    height: 70rem;
    position: absolute;
    top: 48%;
}

.check #second_check {
    width: 70rem;
    height: 70rem;
    position: absolute;
    top: 68%;
}

.check #third_check {
    width: 70rem;
    height: 70rem;
    position: absolute;
    top: 87%;
}

.wrong {
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}

.right {
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
}

.table th {
    height: 60rem;
    padding: 30rem 0rem;
}

.table td:nth-child(3) {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table thead tr {
    background-color: #212A40;
}

.table td:nth-child(1) {
    background-color: #212A40;
}

/* .table td:nth-child(2), .table td:nth-child(3), .table td:nth-child(4) {
    background-color: #28334F;
} */

.table tbody tr:nth-child(even), .table tbody tr:nth-child(odd) {
    background-color: #28334F;
    height: 100rem;
}

.table tbody td:nth-child(1), .table tbody td:nth-child(2) {
    /* .table td:nth-child(2), .table thead th:nth-child(2), .table td:nth-child(3) { */
    border-right: 1rem solid rgba(255, 255, 255, 0.5);
    /* border-top: 1rem solid rgba(255, 255, 255, 0.5); */
    /* border-bottom: 1rem solid rgba(255, 255, 255, 0.5); */
}

.table thead th {
    /* .table td:nth-child(2), .table thead th:nth-child(2), .table td:nth-child(3) { */
    border-bottom: 1rem solid rgba(255, 255, 255, 0.5);
    /* border-top: 1rem solid rgba(255, 255, 255, 0.5); */
    /* border-bottom: 1rem solid rgba(255, 255, 255, 0.5); */
}

.table thead th:nth-child(2) {
    border-right: 1rem solid rgba(255, 255, 255, 0.5);
    border-left: 1rem solid rgba(255, 255, 255, 0.5);
}

.table tbody tr:nth-child(2), .table tbody tr:nth-child(3) {
    border-top: 1rem solid rgba(255, 255, 255, 0.5);
}

/* For feedback bar */

.feedback_bar {
    position: absolute;
    border-radius: 20rem;
    width: 984rem;
    height: 180rem;
    top: 1120rem;
    background: linear-gradient(180deg, #12EAFA 0%, #0787E2 100%);
    /* background: linear-gradient(180deg, #FFE601 0%, #E8882F 100%); */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s, top 0.5s;
    opacity: 0;
}

.feedback_bar p {
    position: relative;
    margin: 10rem;
    font-family: Gotham SSm;
    font-style: normal;
    font-weight: 400;
    font-size: 36rem;
    line-height: 50rem;
    /* or 154% */
    color: black;
    width: 95%;
    text-align: center;
}

/* For the equation container and the numbers */

.equation_container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 984rem;
    height: 120rem;
    top: 1434rem;
    background: linear-gradient(180deg, #CF47FF 0%, #7E00EE 100%);
    border-radius: 20rem;
    font-family: Gotham SSm;
    font-size: 36rem;
}

.equation_container p {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    font-family: Gotham SSm;
    font-style: normal;
    font-weight: 325;
    font-size: 36rem;
    line-height: 134%;
    color: #fff;
}

.equation_container p .numbers {
    position: relative;
    margin-right: 10rem;
    margin-left: 10rem;
    background: linear-gradient(180deg, #8C38AA 0%, #4D028F 100%);
    width: 80rem;
    height: 80rem;
    box-shadow: inset 2rem 2rem 4rem #0F007B;
    border-radius: 16rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.equation_container .numbers_container {
    /* border: 1rem solid white; */
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -200%;
    width: 100%;
    height: 400%;
    transition: top 1s ease-out;
}

.equation_container .inside_number {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coef {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 10rem;
    margin-left: 10rem;
    /* background: linear-gradient(180deg, #8C38AA 0%, #4D028F 100%); */
    background: transparent;
    width: 60rem;
    height: 60rem;
    /* box-shadow: inset 2rem 2rem 4rem #0F007B;
    border-radius: 16rem; */
    overflow: hidden;
    color: white;
    opacity: 0;
    /* display: none; */
    font-size: 36rem;
    font-family: Gotham SSm;
    font-weight: heavier;
}

.elms {
    position: relative;
    margin-right: 10rem;
    margin-left: 10rem;
    /* background: linear-gradient(180deg, #8C38AA 0%, #4D028F 100%); */
    /* background: transparent; */
    height: 120rem;
    /* box-shadow: inset 2rem 2rem 4rem #0F007B; */
    /*border-radius: 16rem;
    overflow: hidden; */
    opacity: 0;
    color: solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Gotham SSm;
    font-style: normal;
    font-weight: 325;
    font-size: 36rem;
}

.Fe1 {
    position: absolute;
    left: 145rem;
    width: 69rem;
}

.C1 {
    position: absolute;
    left: 415rem;
    width: 48rem;
    
}

.O1 {
    position: absolute;
    left: 212rem;
    width: 58rem;
}

.O2 {
    position: absolute;
    left: 885rem;
    width: 41rem;
}

.C2 {
    position: absolute;
    left: 845rem;
    width: 38rem;
}

.Fe2 {
    position: absolute;
    left: 630rem;
    width: 60rem;
}

.elm1 {
    position: absolute;
    left: 165rem;
}

.Iron {
    position: absolute;
    left: 100rem;
}

.Oxygen {
    position: absolute;
    left: 135rem;
}

.Carbon {
    position: absolute;
    left: 400rem;
}

.elm2 {
    position: absolute;
    left: 215rem;
}

.elm3 {
    position: absolute;
    left: 324rem;
}

.elm4 {
    position: absolute;
    left: 535rem;
}

.elm5 {
    position: absolute;
    left: 745rem;
}

.elm6 {
    position: absolute;
    left: 875rem;
}

.Plus {
    position: absolute;
    background-color: transparent;
    opacity: 0.4;
    border-radius: 20.9rem;
    height: 85rem;
    width: 85rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
}

.Plus.Plus1 {
    left: 104rem;
    top: 1325rem;
    padding-left: 15rem;
    padding-top: 20rem;
    padding-bottom: 12rem;
    padding-right: 6rem;
}

.Plus.Plus2 {
    left: 378rem;
    top: 1325rem;
    padding-left: 13.8rem;
    padding-top: 18.8rem;
    padding-bottom: 12rem;
    padding-right: 6.4rem;
}

.Plus.Plus3 {
    left: 585rem;
    top: 1325rem;
    padding-left: 13.9rem;
    padding-top: 20rem;
    padding-bottom: 12rem;
    padding-right: 6.5rem;
}

.Plus.Plus4 {
    left: 799rem;
    top: 1325rem;
    padding-left: 16rem;
    padding-top: 20rem;
    padding-bottom: 12rem;
    padding-right: 8.5rem;
}

.Plus img {
    width: 80rem;
    height: 80rem;
}

.Minus {
    position: absolute;
    background-color: transparent;
    border-radius: 20rem;
    height: 85rem;
    width: 85rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.4;
    border: none;
    /* border: 8rem solid rgb(234, 255, 116); */
}

.Minus.Minus1 {
    left: 104rem;
    top: 1572rem;
    padding-left: 16rem;
    padding-top: 16rem;
    padding-bottom: 8rem;
    padding-right: 8rem;
}

.Minus.Minus2 {
    left: 378rem;
    top: 1572rem;
    padding-left: 13.8rem;
    padding-top: 16.5rem;
    padding-bottom: 10.5rem;
    padding-right: 6.5rem;
}

.Minus.Minus3 {
    left: 585rem;
    top: 1572rem;
    padding-left: 15.4rem;
    padding-top: 16rem;
    padding-bottom: 7.4rem;
    padding-right: 8rem;
}

.Minus.Minus4 {
    left: 799rem;
    top: 1572rem;
    padding-left: 10rem;
    padding-top: 19.1rem;
    padding-bottom: 10.5rem;
    padding-right: 4rem;
}

.Minus img {
    width: 80rem;
    height: 80rem;
}

.next_button {
    position: absolute;
    width: 45%;
    height: 128.64rem;
    border: none;
    border-radius: 200rem;
    background: linear-gradient(90deg, #10dca3, #3988fa);
    color: white;
    font-family: Gotham SSm;
    font-weight: 350;
    font-size: 39rem;
    top: 1704rem;
    cursor: pointer;
}

.reset_button {
    position: absolute;
    top: 100%;
    width: 45%;
    height: 128.64rem;
    border: none;
    border-radius: 200rem;
    background: #FFFFFF;
    color: #333333;
    font-family: Gotham SSm;
    font-weight: 350;
    font-size: 39rem;
    cursor: pointer;
}