@font-face {
    font-family: Gotham SSm;
    /* src: url('/fonts/Gotham-SSm/GothamSSm-Black.otf'); */
    src: url('../fonts/Gotham-SSm/GothamSSm-Light.otf');
    /* src: url('/fonts/Gotham-SSm/GothamSSm-BlackItalic.otf');
    src: url('/fonts/Gotham-SSm/GothamSSm-Bold.otf');
    src: url('/fonts/Gotham-SSm/GothamSSm-BoldItalic.otf'); 
    src: url('fonts/Gotham-SSm/GothamSSm-Book.otf'); */
    /* src: url('/fonts/Gotham-SSm/GothamSSm-BookItalic.otf');
    src: url('/fonts/Gotham-SSm/GothamSSm-LightItalic.otf');
    src: url('/fonts/Gotham-SSm/GothamSSm-Medium.otf');
    src: url('/fonts/Gotham-SSm/GothamSSm-MediumItalic.otf'); */
}
html{
    margin: 0;
}
body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden;
    overflow-y: hidden; */
}

.window {
    position: relative;
    height: 1920px;
    width: 1080px;
    overflow: hidden;
}

.movable_parent {
    position: absolute;
    top: 0px;
    left: 0px;
    --width: 1080px;
    height: 1920px;
    width: calc(var(--width)*2);
    display: flex;
    flex-direction: row;
    transition: left 0.5s linear;
    left: calc(var(--width)*0);
}

#loading-screen {
    position: relative;
    width: 1080px;
    height: 1920px;
    display: flex;
}

#background {
    margin: 0;
    position: relative;
    width: 1080px;
    height: 1920px;
    /* height: 100vh; */
    /*background: radial-gradient(119.99% 62.42% at 50% 36.33%, #7B16E1 0%, #000E87 100%);*/
    /* border: 1px solid rgb(128, 128, 128); */
    display: flex;
    justify-content: center;
    /* font-family: Gotham SSm A, Gotham SSm B, Helvetica, sans-serif; */
    overflow: hidden;
}
.BG_SVG{
    width: 1080px;
    height: auto;
}
.navigation_bar {
    position: absolute;
    width: 55%;
    height: 5.6%;
    top: 5.3%;
    /* border: 1px solid black; */
    border-radius: 200px;
    background: rgb(109, 42, 244);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2.5em;
    text-align: right;
}

.observation_bar {
    height: 100%;
    width: 50%;
    /* border: 1px solid black; */
    border-radius: 200px;
    background: white;
    color: rgb(54, 18, 175);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 2px 10px 2px rgba(0, 0, 0, 0.284);
    font-family: Gotham SSm;
    font-weight: 325;
    font-size: 36px;
    line-height: 144.2%;
    /* font-size: 2.5em; */
    cursor: pointer;
}

.question_bar {
    height: 100%;
    width: 50%;
    /* border: 1px solid black; */
    border-radius: 200px;
    /* background:white; */
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-family: Gotham SSm;
    font-size: 36px;
    font-weight: 325;
    line-height: 144.2%;
    /* font-size: 2.5em; */
    cursor: pointer;
}

#instructionArea {
    position: absolute;
    width: 90%;
    height: 6.88%;
    /* border: 1px solid black;
    background: linear-gradient(yellow,orange); */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    top: 15%;
    color: white;
    font-size: 39px;
    font-weight: 325;
    font-family: Gotham SSm;
    line-height: 60px;
}

canvas {
    position: absolute;
    border-radius: 20px;
    top: 23.5%;
    /* width:91.1%;
    height: 32.86; */
}

#VisualArea4 {
    background: radial-gradient(119.99% 62.42% at 50% 36.33%, #2d0457 0%, #000108 100%);
}

.symbol {
    position: absolute;
    /* border: 1px solid white; */
    width: 9.2%;
    height: 5.2%;
    top: 47.38%;
    transform: translateY(-50%);
    color: white;
    font-size: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Number {
    position: absolute;
    border: 5px solid white;
    height: 4%;
    width: 7%;
    top: 49.2%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
    /* background:#26bca4; */
    font-family: Gotham SSm;
    border-radius: 10px;
    transform: translateX(-50%);
}

.bars {
    position: absolute;
    width: 140px;
    height: 15px;
    left: 156px;
    top: 904px;
    background: #ffffff;
    border-radius: 5px;
    transform: translatex(-50%);
    top: 47%;
}

#feedbackArea {
    position: absolute;
    width: 91.1%;
    height: 9.375%;
    /* padding: 15px 20px 15px 20px; */
    border-radius: 25px;
    background: linear-gradient(#ffe401, #e98a2e);
    background-repeat: no-repeat;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    top: 58.3%;
    transition: opacity 0.5s, top 0.5s;
}

#feedbackArea p {
    width: 95%;
    height: 80%;
    font-size: 30px;
    line-height: 50px;
    font-family: Gotham SSm;
}

/* .insideDiv{
    position: absolute;
    width: 94%;
    height: 75%;
    border: 4px solid #17ada4; border-radius: 20px;
    background: transparent;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.493);
    border-top-style: 0px 5px inset;
} */

.numerical_pointer {
    position: absolute;
    top: 70%;
    width: 14%;
    height: 6%;
    border: 6px solid rgb(255, 255, 255);
    border-radius: 20px;
    background: linear-gradient(0deg, #1db3aa, #4dd3cc);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Gotham SSm;
    font-size: 50px;
    color: rgb(241, 247, 246);
    transform: translateX(-50%);
}

.numerical_pointer::after {
    content: '';
    border-top: 20px solid #ffffff;
    border-left: 20px solid rgba(0, 0, 0, 0);
    border-right: 20px solid rgba(0, 0, 0, 0);
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
}

.Slider {
    position: absolute;
    -webkit-appearance: none;
    outline: none;
    height: 0.5%;
    width: 85%;
    top: 80%;
    /* border-radius: 50px; */
    overflow: none;
    /* background:#4935DD; */
    /* direction:rtl; */
    transform: translateY(-50%);
    /* display: hidden; */
    z-index: 1;
    transform: translateY(-50%);
}

.Slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 60px;
    height: 60px;
    background: linear-gradient(#fb8d34, #f96074);
    /* background-image: url("/V2/Scale 2.png");
    background-repeat: no-repeat;
    background-position:right;
    background-size:115% auto; */
    cursor: pointer;
    border: none;
    border-radius: 50%;
    /* overflow:none; */
    z-index: 3;
}

.Slider::-moz-range-thumb {
    -webkit-appearance: none;
    width: 80px;
    height: 80px;
    background: linear-gradient(#fb8d34, #f96074);
    /* background-image: url("/V2/Scale 2.png");
    background-repeat: no-repeat;
    background-position:right;
    background-size:115% auto; */
    cursor: pointer;
    border: none;
    border-radius: 50%;
    /* overflow:none; */
    z-index: 3;
}

/* #custom_slider_thumb{
    position: absolute;
    top: 78%;
    width:100%;
    height:200px;
    border: 1px solid black;
    transform: translate(-50%, -50%);
    z-index: 1;
    cursor: pointer;
    left:50%;
    display: none;
} */

.RangeValues {
    position: absolute;
    /* border: 1px solid white; */
    height: 100px;
    width: 100px;
    bottom: 11.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-family: Gotham SSm;
    color: white;
    /* display: none; */
}

button.Next-Button {
    position: absolute;
    width: 45%;
    height: 6.7%;
    top: 88.5%;
    border: none;
    border-radius: 200px;
    background: linear-gradient(90deg,#10dca3, #3988fa);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Gotham SSm;
    font-size: 39px;
    font-weight: 350;
    cursor: pointer;
}

button#reset {
    position: absolute;
    width: 45%;
    height: 6.7%;
    top: 80%;
    border: none;
    border-radius: 200px;
    background: linear-gradient(90deg, #10dca3, #3988fa);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Gotham SSm;
    font-size: 39px;
    font-weight: 350;
    cursor: pointer;
}